
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("go to the cart index", "index", "carts")
<p></p>
@Html.ActionLink("go to the staff index", "index", "staffs")
<p></p>
@Html.ActionLink("go to the agency index", "index", "agencies")
<p></p>
@Html.ActionLink("go to the item index", "index", "items")
<p></p>
@Html.ActionLink("go to the oder index", "index", "orders")
<p></p>
@Html.ActionLink("go to the detail orders index", "index", "detailorders")
<p></p>
@Html.ActionLink("go to the detail receipt", "index", "detailreceipts")
<p></p>
@Html.ActionLink("go to the receipt index", "index", "receipts")


