@model WebApplication1.Models.receipt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>receipt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateofCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.nameStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.nameStaff)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idReceipt }) |
    @Html.ActionLink("Back to List", "Index")
</p>
