@model WebApplication1.Models.cart

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>cart</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.orderItem)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.orderItem)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.totalPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.totalPrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.bank)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.bank)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nameAgent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nameAgent)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idCart }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
